-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  =javascript_include_tag 'aspect-contacts'
  :javascript
    EditPane.setTranslations({
      doneEditing: "#{t('.done_editing')}",
      editAspect:"#{t('aspects.show.edit_aspect')}"
    });

  - if aspect.contacts.count == 0
    :javascript
      $(document).ready(function(){
        EditPane.fadeIn();
      });

#left_pane
  %ul.aspect_contacts
    - for contact in contacts
      %li
        .right
          = link_to 'X',
            {:controller => "aspects",
              :action => 'remove_from_aspect',
              :aspect_id => @aspect.id,
              :person_id => contact[:person].id},
            :remote => true,
            :confirm => "Remove #{contact[:person].name} from #{@aspect.name}?",
            :class => "remove_from_aspect"


        = person_image_link(contact[:person])
        .name
          = link_to contact[:person].name, contact[:person]

  .contact_pictures
