-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

/= render 'aspects/no_contacts_message', :aspect => @aspect, :contact_count => @contacts.count
/= render 'aspects/no_posts_message', :post_count => @post_hashes.length, :contact_count => @contacts.count

#left_nav
  %h2
    = current_user.name

  %br
  %a.button{:href => '#'}
    = image_tag 'icons/doc_edit.png', :height=>14, :width=>14
    Share with all aspects
  %br
  %br

  = link_to "view profile", current_user.person
  %br
  = link_to "manage aspects", aspects_manage_path
  %br
  = link_to "edit settings", edit_person_path(current_user.person)
  %br
  %br

  %h5
    .right
      = @contacts.count
    Contacts

  .contact_pictures
    - for contact in @contacts
      = person_image_tag contact.person

#bottom_left
  = link_to "TOP ↑", "#"

#main_stream.stream
  /= render 'shared/publisher', :aspect => @aspect
  = render 'shared/stream', :posts => @post_hashes
  = will_paginate @posts

